<a href="https://colab.research.google.com/github/defirefly/coding/blob/main/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name =input("Enter the name")
print(name)

Enter the namevarsha
varsha

In [ ]:

x=int(input("enter the first mark"))
y=int(input("enter the second mark"))
if x>y:
  print(x, "is greater")
else:
  print(y," is greater")

enter the first mark20
enter the second mark50
50  is greater

In [ ]:
n1=int(input("enter the first number"))
n2=int(input("enter the second number"))
n3=int(input("enter the third number" ))
if n1>n2 and n1>n3:
  print(n1,"is greatest")
if n2>n3 and n2>n3:
  print(n2,"is greatest")
else:
  print(n3,"is largest")

enter the first number34
enter the second number18
enter the third number30
34 is greatest
30 is largest

In [ ]:
num1=int(input())
if num1%2 ==0:
  print("its even")
else:
  print("odd")

34
its even

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10