<a href="https://colab.research.google.com/github/defirefly/coding/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def nanduuu (): 
  print("wish you a very happy birthday")

In [ ]:
nanduuu()

wish you a very happy birthday

In [ ]:
def varsha(x,y):
  z=x+y
  print("result = ",z)

In [ ]:
varsha(2,4)

result =  6

In [ ]:
def amritha(salary):
  if salary<250000:
    print("no tax")
  if salary>250000:
   print("tax")

In [ ]:
salary=int(input("enter a salary"))
amritha(x)

enter a salary150000

NameError: ignored

In [ ]:
def add(x,y):
   print (x+y)
def sub(x,y):
  print(x-y)
def mul(x,y)
  print(x*y)
def div(x,y)
  print(x/y)

SyntaxError: ignored