<a href="https://colab.research.google.com/github/defirefly/coding/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def nanduuu (): 
  print("wish you a very happy birthday")

In [ ]:
nanduuu()

wish you a very happy birthday

In [ ]:
def varsha(x,y):
  z=x+y
  print("result = ",z)

In [ ]:
varsha(2,4)

result =  6

In [ ]:
def amritha(salary):
  if salary<250000:
    print("no tax")
  if salary>250000:
   print("tax")

In [ ]:
salary=int(input("enter a salary"))
amritha(x)

enter a salary200000
no tax

In [ ]:
x=int(input("enter a number"))
amritha(50)

enter a number45
no tax

In [ ]:
def amritha():
k=0
for a in range(x):
  k=k+a
  x=int(input("enter a number"))
  print(x)

IndentationError: ignored

In [ ]:
\